<a href="https://colab.research.google.com/github/youssefbourais0310/Machine_learning_classification/blob/main/3_1_Evaluating_a_machine_learning_model_%22score%22_method(.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Three ways to evaluate scikit-learn models/estimators :**


1. Estimator "score" method 
2. The "scoring" parameters 
3. Problem-specific metric function

In [1]:
# Standard imports
import numpy as np 
import pandas as pd

In [3]:
#1.get the data ready  
heart_disease = pd.read_csv("/content/drive/MyDrive/heart-disease.csv")     
heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [4]:
len(heart_disease)

303

In [6]:
# Import the RandomForestClassifier estimator class
from sklearn.ensemble import  RandomForestClassifier
from sklearn.model_selection import train_test_split

# Setup random seed
np.random.seed(42)

# Make the data
X = heart_disease.drop("target" , axis = 1)
y = heart_disease  ["target"] 

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#instatiate RandomForestClassifier
Clf = RandomForestClassifier()

# Fit the model to the data(training the machine learning model  )
Clf.fit(X_train , y_train )

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

# 3.1 Evaluating a model with the " score " method

In [8]:
Clf.score(X_train,y_train)

1.0

In [10]:
Clf.score(X_test,y_test)

0.8524590163934426

lets do the same for regression

In [11]:
#import Boston housing dataset
from sklearn.datasets import load_boston
boston = load_boston()
boston;

In [12]:
boston_df = pd.DataFrame ( boston["data"] , columns=boston ["feature_names"])
boston_df["target"] = pd.Series(boston["target"])
boston_df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  target
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2

[5 rows x 14 columns]

In [13]:
#lets try the random forst regressor
from sklearn.ensemble import  RandomForestRegressor
from sklearn.model_selection import train_test_split

#setup random seed 
np.random.seed(42)

#creat the data
X=boston_df.drop("target",axis=1)
y=boston_df["target"]

#split into train and test sets
X_train , X_test , y_train , y_test = train_test_split( X , y , test_size=0.2)

#Instantiate Ridge model 
model = RandomForestRegressor().fit(X_train , y_train)

In [15]:
model.score(X_test,y_test)

0.873969014117403