<a href="https://colab.research.google.com/github/youssefbourais0310/Machine_learning_classification/blob/main/heart_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0.An end-to-end scikit-learn workflow

In [62]:
#standard imports
import numpy as np 
import pandas as pd

In [63]:
#1.get the data ready  
heart_disease = pd.read_csv("/content/drive/MyDrive/heart-disease.csv")     
heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [64]:
# create X (features matrix )
X = heart_disease.drop("target" , axis = 1)
X.head()

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   63    1   3       145   233    1  ...      150      0      2.3      0   0     1
1   37    1   2       130   250    0  ...      187      0      3.5      0   0     2
2   41    0   1       130   204    0  ...      172      0      1.4      2   0     2
3   56    1   1       120   236    0  ...      178      0      0.8      2   0     2
4   57    0   0       120   354    0  ...      163      1      0.6      2   0     2

[5 rows x 13 columns]

In [65]:
# create y (labels )
y = heart_disease  ["target"] 
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [66]:
#2.choose the righte model and hyperparametrs
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier()

# well keep the default hyperparameters
clf.get_params() #attribuit

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [67]:
#3. fit the model to the training data 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [68]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [69]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [70]:
X_train

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
70    54    1   2       120   258  ...      0      0.4      1   0     3
177   64    1   2       140   335  ...      0      0.0      2   0     2
284   61    1   0       140   207  ...      1      1.9      2   1     3
29    53    1   2       130   197  ...      0      1.2      0   0     2
71    51    1   2        94   227  ...      1      0.0      2   1     3
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
50    51    0   2       130   256  ...      0      0.5      2   0     2
229   64    1   2       125   309  ...      1      1.8      1   0     3
37    54    1   2       150   232  ...      0      1.6      2   0     3
157   35    1   1       122   192  ...      0      0.0      2   0     2
237   60    1   0       140   293  ...      0      1.2      1   2     3

[242 rows x 13 columns]

In [71]:
y_preds = clf.predict(X_test)
y_preds

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0])

In [72]:
y_test

186    0
101    1
131    1
129    1
106    1
      ..
198    0
242    0
24     1
275    0
235    0
Name: target, Length: 61, dtype: int64

In [73]:
# 4. evaluate the model on the trainig data and test data
clf.score(X_train, y_train)

1.0

In [74]:
clf.score(X_test, y_test)

0.8852459016393442

In [75]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds) )

              precision    recall  f1-score   support

           0       0.90      0.87      0.88        30
           1       0.88      0.90      0.89        31

    accuracy                           0.89        61
   macro avg       0.89      0.88      0.89        61
weighted avg       0.89      0.89      0.89        61

In [76]:
classification_report(y_test, y_preds)

'              precision    recall  f1-score   support\n\n           0       0.90      0.87      0.88        30\n           1       0.88      0.90      0.89        31\n\n    accuracy                           0.89        61\n   macro avg       0.89      0.88      0.89        61\nweighted avg       0.89      0.89      0.89        61\n'

In [77]:
confusion_matrix(y_test, y_preds)

array([[26,  4],
       [ 3, 28]])

In [78]:
 accuracy_score(y_test, y_preds)

0.8852459016393442

In [79]:
# 5. improve a model 
#try different amount of n_estimators 
np.random.seed(42)
for i in range(10, 100, 10):
       print(f"trying model with {i} estimators...")
       clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
       print(f"model accuracy on test set : {clf.score(X_test, y_test) * 100:.2f}%")
       print("")

trying model with 10 estimators...
model accuracy on test set : 78.69%

trying model with 20 estimators...
model accuracy on test set : 85.25%

trying model with 30 estimators...
model accuracy on test set : 81.97%

trying model with 40 estimators...
model accuracy on test set : 86.89%

trying model with 50 estimators...
model accuracy on test set : 83.61%

trying model with 60 estimators...
model accuracy on test set : 83.61%

trying model with 70 estimators...
model accuracy on test set : 81.97%

trying model with 80 estimators...
model accuracy on test set : 86.89%

trying model with 90 estimators...
model accuracy on test set : 80.33%

In [80]:
# 6. save a model and load it 
import pickle 

pickle.dump(clf, open("random_forst_model_1.pkl", "wb"))

In [81]:
loaded_model = pickle.load(open("random_forst_model_1.pkl" , "rb"))
loaded_model.score(X_test, y_test)

0.8032786885245902