<a href="https://colab.research.google.com/github/youssefbourais0310/Machine_learning_classification/blob/main/heart_disease_RandomForestClassifier_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Standard imports
import numpy as np 
import pandas as pd

In [3]:
#1.get the data ready  
heart_disease = pd.read_csv("/content/drive/MyDrive/heart-disease.csv")     
heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [4]:
len(heart_disease)

303

In [6]:
# Import the RandomForestClassifier estimator class
from sklearn.ensemble import  RandomForestClassifier
from sklearn.model_selection import train_test_split

# Setup random seed
np.random.seed(42)

# Make the data
X = heart_disease.drop("target" , axis = 1)
y = heart_disease  ["target"] 

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#instatiate RandomForestClassifier
Clf = RandomForestClassifier()
# Fit the model to the data
Clf.fit(X_train , y_train )

#evaluate the RandomForestClassifier
Clf.score(X_test , y_test)

0.8524590163934426