<a href="https://colab.research.google.com/github/youssefbourais0310/Machine_learning_classification/blob/main/heart_disease_LinearSVC_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# choosing an estimator for a classification problem 

Cheeck the scikit-learn machine learning map...https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [1]:
# Standard imports
import numpy as np 
import pandas as pd

In [2]:
#1.get the data ready  
heart_disease = pd.read_csv("/content/drive/MyDrive/heart-disease.csv")     
heart_disease.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [3]:
len(heart_disease)

303

consulting the map and its says to try LinearSVC

In [4]:
# Import the linearSVC estimator class
from sklearn.svm import  LinearSVC
from sklearn.model_selection import train_test_split

# Setup random seed
np.random.seed(42)

# Make the data
X = heart_disease.drop("target" , axis = 1)
y = heart_disease  ["target"] 

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#instatiate LinearSVC
Clf = LinearSVC(max_iter=1000)
Clf.fit(X_train , y_train )

#evaluate the LinearSVC
Clf.score(X_test , y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.8688524590163934